[*.vb]

# CA2101: Specify marshaling for P/Invoke string arguments
dotnet_diagnostic.CA2101.severity = warning

# CA1401: P/Invokes should not be visible
dotnet_diagnostic.CA1401.severity = warning

# CA1305: Specify IFormatProvider
dotnet_diagnostic.CA1305.severity = none
